body {
    font-family: 'Sree Krushnadevaraya', serif;

}

legend {
    font-family: monospace;
}

input:focus {
    background-color: chartreuse;
}

textarea:focus {
    background-color: chartreuse;
}

img {
    max-width: 100%;
}

form {
    background-color: rebeccapurple;
    border-width: 4rem;

}

/*  grids */

main {
    display: grid;
}

/* hero content */

.content {
    display: grid;
}

/* about content */

.about-content {
    display: grid;
}

/*  gallery */

.gallery {
    display: grid;
}

figure {
	display: grid;
}

/*  article */

article {
    display: grid;
}

/* form container */
.form-container {
    display: grid;
}

/* footer */

footer {
    display: grid;
}

/*  layout */

/*   mobile is the default layout*/

/* tablet layout >=48rem (768px) */

@media screen and (min-width: 48rem) {

    .mobile-first {
        display: none;
    }
	
    .content {
        grid-template-columns: 1fr 1fr 1fr;  
    }

    .content picture,
    .content p,
    .about-content {
        grid-column: 2/3;
    }
    

    /*	about content */

    /*	gallery */

    figure {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    figcaption {
        margin-left: 1rem;
    }


    /*	article */

    article,
    .form-container {
        grid-template-columns: 1fr 48ch 1fr;
    }

    /*	form */

    .story h1,
    .story h2,
    .story .story-body,
    form {
        grid-column: 2/3;


    }


}

/* wide screen layout >=64rem (1024px) */
@media screen and (min-width: 64rem) {


    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery h1 {
        grid-column: 1/4;
    }

    figure {
        grid-template-columns: auto;
    }

}
